@layer components {
  .custom-select {
    @apply flex-shrink-0 z-10 inline-flex items-center py-2 px-4 text-sm font-medium text-center
    text-gray-700 bg-gray-200 border border-gray-300 rounded-l-lg;

    text-transform: capitalize;
    cursor: pointer;
    font-size: 18px;
    min-width: 150px;

    // special for small devices
    @media only screen and (max-width: 600px) {
      min-width: 50px;
      background-image: none;
    }

    /*Remove decorations to replace arrow with custom arrow */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }

    // custom arrow
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }
}
